@using Newtonsoft.Json
@using Nabeey.Service.Helpers
@using Nabeey.Service.DTOs.Users;
@using Nabeey.Domain.Configurations

@model IEnumerable<QuizResultDto>
@{
    var defaultImage = "./Images/Logos/profile.png";
    int tr = 1;
    var page = JsonConvert.DeserializeObject<PaginationMetaModel>(HttpContextHelper.ResponseHeaders["X-Pagination"]);
}

<nav class="navbar navbar-light bg-light justify-content-between">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="btn btn-success" href="@Url.Action("Create")">Create</a>
</nav>
<div class="p-3">
    <table class="text-center" style="width:100%; height:70vh">
        <thead class="text-light" style="background-color: #01384D; height:5vh">
            <tr>
                <td>T/r</td>
                <td>Image</td>
                <td>First name</td>
                <td>Last name</td>
                <td>Phone</td>
                <td>Email</td>
                <td>Role</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr style="height: 20px;">
                    <td>@(tr++)</td>
                    <td>
                        <img src="@(item.Asset is null ? defaultImage : item.Asset.FilePath)"
                             alt="Image"
                             style="width: 40px; height: 40px"
                             class="rounded-circle" />
                    </td>
                    <td class="pt-3">@Html.DisplayFor(i => item.FirstName)</td>
                    <td class="pt-3">@Html.DisplayFor(i => item.LastName)</td>
                    <td class="pt-3">@Html.DisplayFor(i => item.Phone)</td>
                    <td class="pt-3">@Html.DisplayFor(i => item.Email)</td>
                    <td class="pt-3">@Html.DisplayFor(i => item.UserRole)</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-outline-primary" href="@Url.Action("Detail", "Users", item.Id)">Detail</a>
                            <a class="btn btn-outline-warning" href="@Url.Action("Update", "Users", item.Id)">Update</a>

                            <form asp-controller="Users" asp-route-id="@item.Id" asp-action="Delete" method="post">
                                <button class="btn btn-outline-danger" type="submit" onclick="return confirm('Ma\'lumotni o\'chirishga ishonchingiz komilmi?');">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav class="position-fixed mt-3" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link @(page!.HasPrevious ? "":"disabled")" href="@Url.Action("Index", "users", new { index = page.CurrentPage - 1 })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            @for (int i = 1; i <= page.TotalPages; i++)
            {
                <li class="page-item @(page.CurrentPage == i ? "disabled" : "")"><a class="page-link" href="@Url.Action("Index", "users", new{ index = i })">@i</a></li>
            }
            <li class="page-item">
                <a class="page-link @(page.HasNext ? "":"disabled")" href="@Url.Action("Index", "users", new{ index = page.CurrentPage + 1 })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>